@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Prompt", system-ui, sans-serif;
  }
  h1 {
    font-family: "Poppins", sans-serif;
  }
  .font-poppins {
    font-family: "Righteous", sans-serif;
  }
  .max-w-xxs {
    max-width: 480px;
  }
  .min-w-xxs {
    min-width: 280px;
  }
  .bg-image {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='600' height='400' preserveAspectRatio='none' viewBox='0 0 600 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1049%26quot%3b)' fill='none'%3e%3crect width='600' height='400' x='0' y='0' fill='rgba(41%2c 39%2c 42%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c258.722C48.171%2c257.285%2c86.723%2c223.603%2c129.745%2c201.887C178.396%2c177.329%2c250.922%2c174.27%2c269.093%2c122.891C287.66%2c70.394%2c219.974%2c24.629%2c211.923%2c-30.47C203.902%2c-85.362%2c256.557%2c-149.047%2c222.91%2c-193.153C189.836%2c-236.508%2c119.872%2c-221.231%2c65.359%2c-222.594C22.454%2c-223.666%2c-16.217%2c-205.691%2c-58.782%2c-200.194C-111.729%2c-193.356%2c-173.417%2c-219.747%2c-215.09%2c-186.377C-256.491%2c-153.225%2c-259.935%2c-90.646%2c-261.787%2c-37.639C-263.512%2c11.721%2c-247.747%2c58.903%2c-225.197%2c102.844C-203.447%2c145.225%2c-173.983%2c182.664%2c-134.815%2c209.776C-94.692%2c237.548%2c-48.775%2c260.177%2c0%2c258.722' fill='%231b191b'%3e%3c/path%3e%3cpath d='M600 679.85C651.596 672.1990000000001 672.901 609.476 713.897 577.227 749.6759999999999 549.082 806.508 544.352 825.082 502.79200000000003 843.653 461.238 808.1510000000001 415.81 806.36 370.33 804.275 317.394 842.2 259.476 813.74 214.793 785.67 170.723 721.332 172.235 671.077 157.935 621.27 143.76299999999998 571.72 120.286 521.175 131.54700000000003 469.264 143.11200000000002 419.842 174.533 392.31600000000003 220.04 366.126 263.33799999999997 386.959 318.274 378.091 368.094 368.789 420.356 321.945 468.918 339.073 519.162 356.164 569.298 417.007 586.7860000000001 462.10900000000004 614.562 506.307 641.781 548.654 687.4639999999999 600 679.85' fill='%23373539'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1049'%3e%3crect width='600' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .min-w-lg {
    min-width: 25rem;
  }
  .dev {
    display: none;
    position: absolute;
    left: 0px
  }
  #hover-dev {
    position: relative;
  }
  #hover-dev:hover .dev {
    display: block;
  }
}
@layer components {
  .btn, [type=submit] {
    @apply bg-indigo-700 block p-4 text-center cursor-pointer rounded-md hover:bg-indigo-800 transition-all hover:-translate-y-1;
  }
  .sidebar-icon {
    @apply relative h-12 w-12 mx-auto flex justify-center items-center bg-zinc-800 my-3 px-2 py-1 font-medium rounded-3xl hover:rounded-xl hover:bg-indigo-700 transition-all
    duration-300 ease-linear;
  }
  .sidebar-tooltip {
    @apply absolute top-0 left-full p-2 m-2 w-auto min-w-max bg-indigo-800 text-xs font-bold rounded-md shadow-md transition-all duration-100 scale-0 origin-left;
  }
}