body {
  overflow-x: hidden;
}
.masthead {
  color: white;
}

/* DROP_DOWN */
@-webkit-keyframes drop_down {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
@-moz-keyframes drop_down {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
@-o-keyframes drop_down {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
@keyframes drop_down {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(-5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}

/* PULL_UP */
@-webkit-keyframes pull_up {
  0% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
@-moz-keyframes pull_up {
  0% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
@-o-keyframes pull_up {
  0% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
@keyframes pull_up {
  0% {
    transform: translateY(-50vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-10vh) rotateZ(45deg);
    opacity: 0.5;
  }
  80% {
    transform: translateY(5vh);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0vh) rotateZ(0deg);
    opacity: 1;
  }
}
/* ANIMATE_ABOUT SVG */
@keyframes fadeSlide {
    0% {transform: translateX(50%);opacity: 0;}
    100% {transform: translateX(0%);opacity: 1;}
}
/* ANIMATE_SERVICE SVG */
@keyframes reverseFadeSlide {
  0% {transform: translateX(-50%);opacity: 0;}
  100% {transform: translateX(0%);opacity: 1;}
}
/* ANIMATE_PORTFOLIO SVG */
@keyframes slideDown {
  0% {transform: translateY(-100%);opacity: 0;}
  100% {transform: translateY(0%);opacity: 1;}
}
/* ANIMATE_RESUME SVG */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/* ANIMATE_CONTACT SVG */
@keyframes ScaleUp {
  0% {transform: scale(0.2);}
  100% {transform: scale(1.2);}
}
 .ScaleUp {animation: ScaleUp 1.5s ease-in;}
 .slideDown {animation: slideDown 1.5s ease-in;}
.fadeSlide {animation: fadeSlide 2s ease-out;}
.fadeIn {animation: fadeIn 2s ease-out;}
.reverseFadeSlide {animation: reverseFadeSlide 2s ease-out;}

#canvas-container {
  position: relative;
  background: rgb(36, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(36, 0, 0, 1) 0%,
    rgba(84, 0, 0, 1) 35%,
    rgba(103, 0, 0, 1) 100%
  );
}
#top-sect {
  animation: fade 2s ease;
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
}
.hlwrld {
  mix-blend-mode: exclusion;
  color: ghostwhite;
  font-family: "Aguafina Script", cursive;
  transform: translateX(0vh);
  transition: all 1.5s ease-out;
  animation: drop_down 2s ease-in;
}
.row i {
  color: black;
}
#services .row div {
  display: inline-block;
  width: 50%;
}
em,
.mb-5 {
  font-style: initial;
  font-variant: small-caps;
}
.fa-bars {
  padding-top: 12px;
  font-size: 1.6rem;
}
#sidebar-wrapper {
  overflow: auto;
}
#navpic {
  max-width: 160px;
  border: 2px solid white;
}
.bg-custom {
  background-color: red;
  color: white;
}
.cv {
  font-variant: small-caps;
}
#contact h2 {
  font-size: 3rem;
}
.sub-head {
  margin: 10px auto;
  max-width: 700px;
  text-align: justify;
  text-align-last: center;
  animation: pull_up 2s ease-in;
}
.animate {
  animation: progBar 1.5s ease-out;
}
@keyframes progBar {
  0% {
    width: 0;
  }
}
.imgdiv {
  opacity: 1;
  padding: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.fading {
  animation: fade 1.5s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  border-radius: 31px/31px;
}
.CLP {
  margin: 3rem auto 1rem auto;
  font-variant: small-caps;
}
.codlng {
  margin: 0px;
  text-align: justify;
}
.bg-second {
  background-color: #b20000;
}

.iconify {
  margin: 10px;
  font-size: 55px;
}
.projects {
  margin: 0px auto;
  max-width: 1200px;
}
.caption-content {
  display: none;
}
.caption:hover {
  transition: 1.5s ease;
  background-color: #b20000;
}
a:hover .caption-content {
  display: flex;
}
.projects img {
  width: 100%;
}
.modalImg {
  float: right;
}
#response {
  font-size: 2.5rem;
  display: none;
  border: 10px double;
}
.g-recaptcha {
  overflow-y: hidden;
  width: 100%;
  overflow-x: auto;
}
#fillcaptcha {
  display: none;
  color: red;
}
.spinner-border {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.sizeImg {
  width: 50% !important;
}
.caption-content {
  width: 100% !important;
  margin: 6% !important;
  flex-direction: column;
  justify-content: center;
}
.service-icon-img {
  width: 78px;
}
li.nav-item.sidebar-nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.project-img {
  max-height: 247px;
  width: auto !important;
}
#about {
  position: relative;
  z-index: 2;
}
.bg_resume, .bg_contact, .bg_portfolio, .bg_about, .bg_service {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: grid;
  z-index: -1;
}
.bg_service{
  place-items: baseline;
  background: #000;
}
.bg_resume{
  background: -moz-linear-gradient(top, #510047 0%, #2b0029 50%, #000000 100%);
  background: -webkit-linear-gradient(
    top,
    #510047 0%,
    #2b0029 50%,
    #000000 100%
  );
  background: linear-gradient(to bottom, #510047 0%, #2b0029 50%, #000000 100%);
}
.bg_portfolio, .bg_about{
  place-items: end;
}
.bg_contact{justify-content: center;
  align-items: end;}
.bg_contact svg {
  transform: scale(1.2);
  overflow: hidden;
  width: max(39rem, 60%, 30rem);
  fill: #00000019;
}
.bg_resume svg {
  fill: #f000d40c;
}
.bg_portfolio svg {
  overflow: hidden;
  place-items: end;
  fill: #00000066;
  fill-rule: evenodd;
  font-size: 9rem;
  width: max(45rem, 60%, 30rem);
}
.bg_about svg {
  overflow: hidden;
  fill: #00000030;
  fill-rule: evenodd;
  font-size: 9rem;
  width: max(39rem, 60%, 30rem);
  height: auto;
  transform: translate(0px, 0rem);
}
.bg_service svg {
  overflow: hidden;
  fill: #ffffff17;
  fill-rule: evenodd;
  font-size: 9rem;
  width: max(39rem, 60%, 30rem);
  height: auto;
  transform: translate(0px, 0rem);
}
@media screen and (max-width: 450px) {
  .hlwrld {
    font-size: 3rem !important;
  }
  em {
    font-size: 1.5rem;
  }
  .service-icon {
    height: 6rem;
    width: 6rem;
    line-height: 6.5rem;
  }
  .mb-5,
  .my-5 {
    margin-bottom: 2rem !important;
  }
  .h4,
  h4 {
    font-size: 1.1rem;
  }
}
@media (max-width: 300px) {
  #services .row div {
    display: inline-block;
    width: 100%;
  }
}
