.masthead {
    background: linear-gradient(133deg, #b20000, #b20000, #000000, #000000);
    background-size: 600% 600%;
	color: white;

    -webkit-animation: AnimationName 3s linear infinite;
    -moz-animation: AnimationName 3s linear infinite;
    -o-animation: AnimationName 3s linear infinite;
    animation: AnimationName 3s linear infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
@keyframes AnimationName {
    0%{background-position:18% 0%}
    50%{background-position:83% 100%}
    100%{background-position:18% 0%}
}
#canvas-container{
    position: relative; 
    background: rgb(36,0,0);
    background: linear-gradient(0deg, rgba(36,0,0,1) 0%, rgba(84,0,0,1) 35%, rgba(103,0,0,1) 100%);
}
#top-sect{animation:fade 2s ease;position: absolute; top: 35%;right: 0;left: 0;}
.hlwrld{  mix-blend-mode: exclusion; color: ghostwhite;}
.row i{
	 color: black;
}
#services .row div{
	display: inline-block;
    width: 50%;
}
em, mb-5{
  font-style: initial;
  font-variant: small-caps;
}
.fa-bars{
	padding-top: 12px;
    font-size: 1.6rem;
}
#sidebar-wrapper{overflow: auto;}
#navpic{
	max-width:160px;
	/*border-radius: 50%;*/
    border: 2px solid white;
}
.bg-custom{
	background-color: red;
	color: white;
}
#resume{
	background: -moz-linear-gradient(top, #510047 0%, #2B0029 50%, #000000 100%);
	background: -webkit-linear-gradient(top, #510047 0%, #2B0029 50%, #000000 100%);
	background: linear-gradient(to bottom, #510047 0%, #2B0029 50%, #000000 100%);
}
.cv{
	font-variant: small-caps;
}#contact h2{font-size:3rem;}
.sub-head{
	margin: 10px auto;
	max-width: 700px;
	text-align: justify;
	text-align-last: center;
}
.animate{animation:progBar 1.5s ease-out;}
	@keyframes progBar{
    0%{ width: 0; }
	}
	.imgdiv{opacity: 1;}
	.fading{animation:fade 1.5s ease;}
	
	@keyframes fade{0%{ opacity: 0; }100%{opacity: 1;}}
.btn{border-radius:31px/31px;}
.CLP{margin:3rem auto 1rem auto;font-variant: small-caps;}
.codlng{margin: 0px;text-align: justify;}
.bg-second{background-color:#b20000;}

.iconify {margin: 10px;font-size: 55px;}
.projects{margin:0px auto;max-width:1200px;}
.caption-content{display: none;}
.caption:hover{transition:1.5s ease;background-color: #b20000;}
a:hover .caption-content{display: block;}
.projects img{width:100%;}
.modalImg{float: right;}
#response{font-size:2.5rem;display:none;border: 10px double;}
.g-recaptcha{overflow-y: hidden;width: 100%;overflow-x: auto;}
#fillcaptcha{display:none;color:red;}
.spinner-border{display:none;position:absolute;top: 50%;left: 50%;}
.sizeImg{width:50%!important;}

@media screen and (max-width:450px){
.hlwrld{font-size: 3rem!important;}
em{font-size: 1.5rem;}
.service-icon{height: 6rem;width: 6rem;line-height: 6.5rem;}
.mb-5, .my-5 {margin-bottom:2rem!important;}
.h4, h4 {font-size: 1.1rem;}
}
@media (max-width:300px){
#services .row div{
	display: inline-block;
    width: 100%;
	}
}
